.venv/
.env*
!.env.vault
*.pyc
__pycache__/
.vscode/
data/sqlite/bot.db
*.lancedb/
.lancedb/discord_bot/memories.lance/_transactions/1-c7f7e520-8293-408a-9551-94b9cddb204e.txn11
.lancedb/discord_bot/memories.lance/_transactions/2-5461bf9a-dd25-48c3-807f-998753c7eb61.txn
.lancedb/discord_bot/memories.lance/_transactions/3-f87ff2d9-b335-4bb3-be2d-b2d324ea10c7.txn
.lancedb/discord_bot/memories.lance/_transactions/4-cbb32c07-4b04-4f03-a655-a87cbc1c1673.txn
.lancedb/discord_bot/memories.lance/_transactions/5-eba6d8c1-e85c-40d3-9690-496292494ead.txn
.lancedb/discord_bot/memories.lance/_transactions/6-d296e9d7-6ee9-43a4-9289-5195929246d4.txn
.lancedb/discord_bot/memories.lance/_transactions/7-dd09d218-1855-46af-8201-0dbf6c61781f.txn
.lancedb/discord_bot/memories.lance/_transactions/8-af392d3a-8485-44ad-bd2f-70be2155f584.txn
.lancedb/discord_bot/memories.lance/_transactions/9-a60a335d-42b0-4d3e-83f9-bc0e9d60c822.txn
.lancedb/discord_bot/memories.lance/_transactions/10-1d7e5f9c-8871-4840-a1f2-af2071e4d412.txn
.lancedb/discord_bot/memories.lance/_transactions/11-85ce2977-c178-473f-9b47-d4ea87a493de.txn
.lancedb/discord_bot/memories.lance/_transactions/12-5b80258c-e84f-4dcf-8e9e-c16567d1eb42.txn
.lancedb/discord_bot/memories.lance/_transactions/13-3089d7a7-e840-4329-8e9a-202785c80f25.txn
.lancedb/discord_bot/memories.lance/_transactions/14-4fce5d39-f4d5-47c6-8f34-7b551f1e7158.txn
.lancedb/discord_bot/memories.lance/_transactions/15-e829ff4c-fdbf-4bed-9124-d1143d237855.txn
.lancedb/discord_bot/memories.lance/_transactions/16-2e505206-cb80-4f3e-a14b-48f6fafd5f3e.txn
.lancedb/discord_bot/memories.lance/_transactions/17-82209eda-613b-423c-9468-73376bf50d25.txn
.lancedb/discord_bot/memories.lance/_versions/1.manifest
.lancedb/discord_bot/memories.lance/_versions/2.manifest
.lancedb/discord_bot/memories.lance/_versions/3.manifest
.lancedb/discord_bot/memories.lance/_versions/4.manifest
.lancedb/discord_bot/memories.lance/_versions/5.manifest
.lancedb/discord_bot/memories.lance/_versions/6.manifest
.lancedb/discord_bot/memories.lance/_versions/7.manifest
.lancedb/discord_bot/memories.lance/_versions/8.manifest
.lancedb/discord_bot/memories.lance/_versions/9.manifest
.lancedb/discord_bot/memories.lance/_versions/10.manifest
.lancedb/discord_bot/memories.lance/_versions/11.manifest
.lancedb/discord_bot/memories.lance/_versions/12.manifest
.lancedb/discord_bot/memories.lance/_versions/13.manifest
.lancedb/discord_bot/memories.lance/_versions/14.manifest
.lancedb/discord_bot/memories.lance/_versions/15.manifest
.lancedb/discord_bot/memories.lance/_versions/16.manifest
.lancedb/discord_bot/memories.lance/_versions/17.manifest
.lancedb/discord_bot/memories.lance/_versions/18.manifest
.lancedb/discord_bot/memories.lance/data/17f18dfe-51cc-441a-bf19-f51e787fda90.lance
.lancedb/discord_bot/memories.lance/data/53d7057b-d6d1-48d1-a74b-6af6618cc056.lance
.lancedb/discord_bot/memories.lance/data/73c8aa22-9794-4dfa-846a-ddd85ab91b72.lance
.lancedb/discord_bot/memories.lance/data/892b3ebd-897d-4fa9-971c-9ea04052ba2b.lance
.lancedb/discord_bot/memories.lance/data/3402449c-a2ce-4fd6-b2ce-1c8be0a16a16.lance
.lancedb/discord_bot/memories.lance/data/afacb7c6-7807-44f9-8b06-4b76383aefd9.lance
.lancedb/discord_bot/memories.lance/data/cc4875c5-e1dd-4e36-afe5-219ebc38aada.lance
.lancedb/discord_bot/memories.lance/data/d00dd5b7-a822-4ae9-96ad-7cf7b980d717.lance
.lancedb/discord_bot/memories.lance/data/f81e9188-b8cd-46d6-9c5b-b79d088a5e34.lance
